<div class="about">
    <div class="col-sm-12 about_page">
        <!--<div class="container">-->
        <div class="row">

            <div class="col-sm-4">
                <img src="../public/img/eym_mandate.png" class="img-responsive" alt="Cinque Terre">

            </div>
            <div class="col-sm-8">
                <h3 class="h11"><b>Our mandate</b></h3>

                <p>And they that shall be of thee shall <i><b>build the old waste places: </b></i>
                    thou shall <i><b>raise up the foundations of many generations; </b></i>
                    and thou shalt be called, The <i><b>repairer of the breach, </b></i>

                    The <i><b>restorer of paths to dwell in. - Isaiah 58:12</b></i>
                </p>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <img src="../public/img/eym_vission2.jpg" class="img-responsive" alt="Cinque Terre">

            </div>
            <div class="col-sm-8">
                <h3 class="h22"><b>Our Vision </b></h3>

                <p>
                    To raise Solution Bearers in all spheres of life, who will deploy themselves
                    optimally and profitably toward the advancement of the kingdom and societal transformation.
                </p>


            </div>
        </div>


        <div class="row">

            <div class="col-sm-4">
                <img src="../public/img/eym_mission2.png" class="img-responsive" alt="Cinque Terre">

            </div>
            <div class="col-sm-8">
                <h3 class="h33"><b>Our Mission statement </b></h3>

                <p>To inspire and develop youths for a profitable life, make ready a people prepared
                    for the Lord, thoroughly furnished unto every good works.
                </p>


            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <img src="../public/img/eym_objective.png" class="img-responsive" alt="Cinque Terre">

            </div>
            <div class="col-sm-8">
                <h3 class="h44"><b>Our Objectives </b></h3>
                <ul style="display: inline">
                    <li> To raise purpose driven youths</li>
                    <li>To raise youths full of virtue</li>
                    <li>To raise youths with superlative ability</li>
                    <li>To raise leaders of influence</li>
                </ul>


            </div>
        </div>


        <div class="row">

            <div class="col-sm-4">
                <img src="../public/img/eym_operation2.png" class="img-responsive" alt="Cinque Terre">

            </div>
            <div class="col-sm-8">
                <h3 class="h55"><b>OUR OPERATIONS </b></h3>

                <p>
                    Excellent youth ministry is more than a fellowship, it’s a Christian institution that
                    is inspired by the Holy Spirit to help solve the problem of the world and answer the
                    question of nations. It’s a movement of vibrant youths who are purpose driven, virtuous
                    and Holy Spirit filled, operating with superlative ability, influencing the world for Jesus
                    Christ. Through the instrumentality of the word and the Spirit of God, we hope to turn so
                    called nonentities to great celebrities by equipping them to solve the world’s
                    problem with their respective gifts and talents, thereby achieving great feat for God.
                </p>

                <p>
                    Just like David by the anointing of the Holy Ghost defeated Goliath, there by
                    taking away the reproach from Israel. These youths by the anointing of the Holy
                    Ghost will solve age long problems that they don’t have qualifications for. They
                    will proffer solutions to problems that have differed solutions of experts and solve
                    it in a way the world never saw it done before.
                </p>

                <p>
                    They will move and function in the power of the Holy Ghost to produce witty inventions,
                    services, products that will humble all the intellectual giants of our time. They will
                    rebuild the ancient ruins, set new standards of operations and code of conducts: They will be
                    pacesetters, trailblazers and pathfinders for many generations to come. They will generally be
                    called Solution Bearers.
                </p>


            </div>
        </div>


        <div class="row">

            <div class="col-sm-4">
                <img src="../public/img/greaterworks.png" class="img-responsive" alt="Cinque Terre">

            </div>
            <div class="col-sm-8">
                <h3 class="h66"><b>The Greater works generation</b></h3>

                <p>
                    I celebrate and appreciate the efforts and contributions of all the legends and
                    heroes that have gone ahead of us in all fields of human endeavours. Their works
                    have added beauty to life and made the world more comfortable for us to dwell.
                </p>

                <p>
                    However, I am glad I belong to this generation; a generation of people who
                    will make their legendary works look like 'CHILD'S-PLAY'. By this, I do not mean
                    to despise or belittled their works in any way, but I am only giving amplification
                    to the WORD of GOD which says that the latter house shall be greater than the former.
                </p>

                <p>
                    I enjoin all the youths in the house not to be intimidated by their legendary
                    works, they have simply succeeded in doing what we couldn't have been able to do so
                    we can do what they wouldn't have been able to do. They have done their part and they
                    did it well. It's time we do our own part and do it pretty well.
                    Let's arise; wake up from our sleep and slumber, take responsibility and let's make
                    the world a better place.
                </p>

                <div class="exce">
                    <ul>
                        <li>If you think you have seen ministry, Hold on!</li>
                        <li>If you think you have seen inventions, hold on!</li>
                        <li>If you think you have seen anointing/power, hold on!</li>
                        <li>If you think you have seen entrepreneurs, hold on!</li>
                        <li>If you think you have seen technological advancement, hold on!</li>
                        <li>If you think you have seen businesses, hold on!</li>

                    </ul>
                </div>

                <p>
                    Whatever you think you have seen, hold on because you haven't seen the host of
                    army rising from this place and a host of other youths God has anointed to bring
                    about revolution in all fields of human Endeavour. There is an army rising from
                    this place... Watch out
                </p>


            </div>
        </div>
    </div>
</div>