<!--<div class= "col-md-4" >-->
    <!--<h1> Login </h1>-->
    <!--<div ng-show= "error" class= "alert alert-danger" >-->
        <!--{{errorMessage}} </div>-->
    <!--<form class= "form" ng-submit= "loginAdmin()" >-->
        <!--<div class= "form-group" >-->
            <!--<label> Username </label>-->
            <!--<input type= "text" class= "form-control"-->
                   <!--name= "username" ng-model= "loginForm.username"-->
                   <!--required >-->
        <!--</div>-->
        <!--<div class= "form-group" >-->
            <!--<label> Password</label>-->
            <!--<input type= "password" class= "form-control"-->
                   <!--name= "password" ng-model= "loginForm.password"-->
                   <!--required >-->
        <!--</div>-->
        <!--<div>-->
            <!--<button type= "submit" class= "btn btn-default" ng-disabled= "disabled" >Login </button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->


<div class="container-fluid col-lg-offset-3  col-sm-offset" style="margin-top: 50px">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Admin Login Page</div>
                <div class="panel-body ">
                    <form class="form" name="loginForm">
                        <!--<p>Remind me i want to disable login button if the email and password field are empty</p>-->
                        <div class="label-warning"> {{errorMessage}}</div>

                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="email" placeholder="Username" id="email"
                                   ng-model="loginForm.username" ng-required="true">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                   id="password" ng-model="loginForm.password" required>
                        </div>


                        <div class="panel-footer">

                            <!--<button ng-disabled="loginForm.$invalid"  type="submit" class="btn btn-primary" ng-click="loginAdmin()">Submit</button>-->
                            <button ng-disabled="loginForm.$invalid"  type="submit" class="btn btn-primary" ng-click="loginAdmin()">Submit</button>

                            <button type="submit" class="btn btn-success" ng-click="loadAdminRegister()">Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

