<div class="about">
    <div class="col-sm-12 about_page">
        <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-2">
                <img src="../public/img/facebook.png" class="img-responsive" alt="facebook">
            </div>
            <div class="col-sm-8">
                <h3 class="h11"><a href="https://www.facebook.com/solutionBearers/">Facebook</a></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <img src="../public/img/twitter.jpg" class="img-responsive" alt="facebook">
            </div>
            <div class="col-sm-8">
                <h3 class="h11"><a href="https://twitter.com/solutionbearers">Twitter</a></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <img src="../public/img/instagram.jpg" class="img-responsive" alt="facebook">
            </div>
            <div class="col-sm-8">
                <h3 class="h11"><a href="https://instagram.com/solutionbearers1">Instagram</a></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <img src="../public/img/WhatsApp.png" class="img-responsive" alt="facebook">
            </div>
            <div class="col-sm-8">
                <h3 class="h11"><b>+234 08127907105</b></h3>
            </div>
        </div>

        <!--<div class="row">-->

            <!--<div class="col-sm-4">-->
                <!--<img src="../public/img/eym_vission2.jpg" class="img-responsive" alt="Cinque Terre">-->

            <!--</div>-->
            <!--<div class="col-sm-8">-->
                <!--<h3 class="h22"><b>Our Vision </b></h3>-->

                <!--<p>-->
                    <!--To raise Solution Bearers in all spheres of life, who will deploy themselves-->
                    <!--optimally and profitably toward the advancement of the kingdom and societal transformation.-->
                <!--</p>-->


            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->

            <!--<div class="col-sm-4">-->
                <!--<img src="../public/img/eym_mission2.png" class="img-responsive" alt="Cinque Terre">-->

            <!--</div>-->
            <!--<div class="col-sm-8">-->
                <!--<h3 class="h33"><b>Our Mission statement </b></h3>-->

                <!--<p>To inspire and develop youths for a profitable life, make ready a people prepared-->
                    <!--for the Lord, thoroughly furnished unto every good works.-->
                <!--</p>-->


            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->

            <!--<div class="col-sm-4">-->
                <!--<img src="../public/img/eym_objective.png" class="img-responsive" alt="Cinque Terre">-->

            <!--</div>-->
            <!--<div class="col-sm-8">-->
                <!--<h3 class="h44"><b>Our Objectives </b></h3>-->
                <!--<ul style="display: inline">-->
                    <!--<li> To raise purpose driven youths</li>-->
                    <!--<li>To raise youths full of virtue</li>-->
                    <!--<li>To raise youths with superlative ability</li>-->
                    <!--<li>To raise leaders of influence</li>-->
                <!--</ul>-->


            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->

            <!--<div class="col-sm-4">-->
                <!--<img src="../public/img/eym_operation2.png" class="img-responsive" alt="Cinque Terre">-->

            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 class="h55"><b>OUR OPERATIONS </b></h3>&ndash;&gt;-->

                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;Excellent youth ministry is more than a fellowship, it’s a Christian institution that&ndash;&gt;-->
                    <!--&lt;!&ndash;is inspired by the Holy Spirit to help solve the problem of the world and answer the&ndash;&gt;-->
                    <!--&lt;!&ndash;question of nations. It’s a movement of vibrant youths who are purpose driven, virtuous&ndash;&gt;-->
                    <!--&lt;!&ndash;and Holy Spirit filled, operating with superlative ability, influencing the world for Jesus&ndash;&gt;-->
                    <!--&lt;!&ndash;Christ. Through the instrumentality of the word and the Spirit of God, we hope to turn so&ndash;&gt;-->
                    <!--&lt;!&ndash;called nonentities to great celebrities by equipping them to solve the world’s&ndash;&gt;-->
                    <!--&lt;!&ndash;problem with their respective gifts and talents, thereby achieving great feat for God.&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->

                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;Just like David by the anointing of the Holy Ghost defeated Goliath, there by&ndash;&gt;-->
                    <!--&lt;!&ndash;taking away the reproach from Israel. These youths by the anointing of the Holy&ndash;&gt;-->
                    <!--&lt;!&ndash;Ghost will solve age long problems that they don’t have qualifications for. They&ndash;&gt;-->
                    <!--&lt;!&ndash;will proffer solutions to problems that have differed solutions of experts and solve&ndash;&gt;-->
                    <!--&lt;!&ndash;it in a way the world never saw it done before.&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->

                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;They will move and function in the power of the Holy Ghost to produce witty inventions,&ndash;&gt;-->
                    <!--&lt;!&ndash;services, products that will humble all the intellectual giants of our time. They will&ndash;&gt;-->
                    <!--&lt;!&ndash;rebuild the ancient ruins, set new standards of operations and code of conducts: They will be&ndash;&gt;-->
                    <!--&lt;!&ndash;pacesetters, trailblazers and pathfinders for many generations to come. They will generally be&ndash;&gt;-->
                    <!--&lt;!&ndash;called Solution Bearers.&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->


            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->


        <!--<div class="row">-->

            <!--<div class="col-sm-4">-->
                <!--<img src="../public/img/greaterworks.png" class="img-responsive" alt="Cinque Terre">-->

            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 class="h66"><b>The Greater works generation</b></h3>&ndash;&gt;-->

                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;I celebrate and appreciate the efforts and contributions of all the legends and&ndash;&gt;-->
                    <!--&lt;!&ndash;heroes that have gone ahead of us in all fields of human endeavours. Their works&ndash;&gt;-->
                    <!--&lt;!&ndash;have added beauty to life and made the world more comfortable for us to dwell.&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->

                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;However, I am glad I belong to this generation; a generation of people who&ndash;&gt;-->
                    <!--&lt;!&ndash;will make their legendary works look like 'CHILD'S-PLAY'. By this, I do not mean&ndash;&gt;-->
                    <!--&lt;!&ndash;to despise or belittled their works in any way, but I am only giving amplification&ndash;&gt;-->
                    <!--&lt;!&ndash;to the WORD of GOD which says that the latter house shall be greater than the former.&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->

                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;I enjoin all the youths in the house not to be intimidated by their legendary&ndash;&gt;-->
                    <!--&lt;!&ndash;works, they have simply succeeded in doing what we couldn't have been able to do so&ndash;&gt;-->
                    <!--&lt;!&ndash;we can do what they wouldn't have been able to do. They have done their part and they&ndash;&gt;-->
                    <!--&lt;!&ndash;did it well. It's time we do our own part and do it pretty well.&ndash;&gt;-->
                    <!--&lt;!&ndash;Let's arise; wake up from our sleep and slumber, take responsibility and let's make&ndash;&gt;-->
                    <!--&lt;!&ndash;the world a better place.&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="exce">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>If you think you have seen ministry, Hold on!</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>If you think you have seen inventions, hold on!</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>If you think you have seen anointing/power, hold on!</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>If you think you have seen entrepreneurs, hold on!</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>If you think you have seen technological advancement, hold on!</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>If you think you have seen businesses, hold on!</li>&ndash;&gt;-->

                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;Whatever you think you have seen, hold on because you haven't seen the host of&ndash;&gt;-->
                    <!--&lt;!&ndash;army rising from this place and a host of other youths God has anointed to bring&ndash;&gt;-->
                    <!--&lt;!&ndash;about revolution in all fields of human Endeavour. There is an army rising from&ndash;&gt;-->
                    <!--&lt;!&ndash;this place... Watch out&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->


            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>