
    <div class="menu-wrap">
        <nav class="menu">
            <ul class="clearfix">
                <li><a href="#">Movies<span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu">
                        <li><a href="#/restaurant">Restaurant Market </a></li>
                        <li><a href="#/options">Options </a></li>
                        <li><a href="#/jumia">Jumia Market</a></li>

                        <li><a href="#">Challenge Market </a></li>
                        <li><a href="#">Yoruba Road Market</a></li>
                        <li><a href="#">Irewolede Market</a></li>

                    </ul>
                </li>
                <li><button>Go</button></li>
            </ul>
        </nav>
</div>
