.header {
    height: 400px;
}

.text-center {
    margin-top: 30px
}

.button {
    /*adjust the roundness*/
    border-radius: 10px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 40px;
    width: 50%;
    /*change border colour*/
    border: 1px #245ec6 solid;
    background-color: #00b3ee;
}

 .navbar-brand {
    display: flex;
    align-items: center;
}
 .navbar-brand>img {
    padding: 7px 14px;
}


.header {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url("../img/backg/b.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header img {
    height: 350px;
    width: 700px;
    /*margin: 0px 0 40px 40px;*/
}

.navbar {
    background-color: #080808;

}

.navbar a {
    color: #fff !important;
    opacity: 0.7;

    font-family: 'montserrat-light-webfont';
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.navbar a:hover {
    opacity: 1;
    background-color: #111111 !important;
}

.dropdown-menu a {
    color: #080808 !important;

}

.dropdown-menu a:hover {
    opacity: 1;
    background-color: #fff !important;
}

.header h2 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
    color: #00b3ee;
}

.button {
    /*color: #00b3ee;*/
    margin-bottom: 0px;
}

.header h1,
.header p,
.header button {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .header {
        padding: 30px;
        height: 750px;
    }

    .header img {
        width: 100%;
        height: 30px;
        margin: 0 0 0 0px;
    }

    .button {
        width: 100%;
        margin-bottom: 10px;
    }

}

.post {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.odd {
    background-color: #f2f9ff;

}

.even {
    background-color: #eceff3;
}

.col-md-8 {
    padding-left: 100px;
}

.ofcontents {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
    font-family: 'montserrat-light-webfont';
    font-weight: bold;
    font-size: 20px;
}

.ofcontents ul {
    list-style: none;
}

.bodym {
    background: rgb(167, 168, 176)
}

.h11, .h22, .h33, .h44, .h55, .h66 {
    color: #00b3ee;
}

.about_page {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;

    /*padding-left: 0 !important;*/
    /*margin-top: 0px !important;*/
}

.about_page p {
    color: white;
    font-family: 'montserrat-light-webfont';
    font-weight: bold;
    font-size: 15px;
}

.about_page ul {
    list-style: none;
    color: white;
    font-family: 'montserrat-light-webfont';
    font-weight: bold;
    font-size: 15px;

}

.about {
    margin-top: 50px;

}

.about p {
    text-color: white;
}

@font-face {
    /*  font-family: 'montserrat-light-webfont';*/
    font-family: 'montserrat-light-webfont';
    src: url('../font/montserrat-light-webfont.eot');
}

.logo-and-text {
    font-family: 'montserrat-light-webfont';
    font-weight: bold;
    font-size: 20px;
    color: white;

}

.col-sm-4 {
    padding: 20px;
}

.audio_upload {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;

    /*padding-left: 0 !important;*/
    /*margin-top: 0px !important;*/
}

.audio_page {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;

    /*padding-left: 0 !important;*/
    /*margin-top: 0px !important;*/
}

.panel-default, .pt {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;

}

.audio-title, .audio-desc, .pt
{
    color: white;
    /*background: chocolate;*/
}